:root {
  --breadpink-200: #ff99e2;
  --breadpink-100: #c463ca;
}

@layer base {
  body {
    font-family: 'Press Start 2P', monospace;
    @apply bg-breadgray-darkest;
  }

  .prose {
    font-size: 1.125rem;
  }

  /* button stuff */
  @keyframes gradient-animation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-gradient {
    background: linear-gradient(270deg, #d367d9, #bd51c3) 0% 0% / 400% 400%;
    animation: 3s ease 0s infinite normal none running gradient-animation;
  }
  .button-gradient:disabled {
    background: none;
    background-color: var(--breadpink-100);
    opacity: 40%;
    z-index: -10;
    animation: none;
  }
}
